language: java
notifications:
  email: false
sudo: false
script:
 - ./gradlew check --info --stacktrace
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - lib/
jdk:
  - oraclejdk8
